<div class="container-fluid mt-4" id="about" >
  <div class="row">
    <div class="col-sm-6">
      <h1 id="head" style="color: #33ffa9">Skills & Experience</h1>
      <div class="w-25" style="height: 3%; background-color: #33ffa9"></div>
      <p class="w-100">
        The main area of my expertise is front end development (client side of
        the web).
      </p>
      <p class="w-100">
        HTML, CSS, JS (TypeScript), building small and medium web apps with
        Angular 2+, custom plugins, features, animations, and coding interactive
        layouts.
      </p>
      <p class="w-100">
        I have also full-stack developer experience with open source CMS like
        (WordPress, Drupal, Magento, Keystone.js and other)
      </p>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-3">
          <circle-progress [percent]="95" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'Javscript'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
        <div class="col-3">
          <circle-progress [percent]="90" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'Angular'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
        <div class="col-3">
          <circle-progress [percent]="80" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'React'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
        <div class="col-3">
          <circle-progress [percent]="75" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'Vue'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <circle-progress [percent]="95" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'Nodejs'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
        <div class="col-3">
          <circle-progress [percent]="90" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'Webpack'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
        <div class="col-3">
          <circle-progress [percent]="80" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'.net core'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
        <div class="col-3">
          <circle-progress [percent]="75" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'Firebase'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <circle-progress [percent]="95" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'Postgress'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
        <div class="col-3">
          <circle-progress [percent]="90" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'Sql Server'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
        <div class="col-3">
          <circle-progress [percent]="98" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'Redux'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
        <div class="col-3">
          <circle-progress [percent]="75" [backgroundPadding]="10" [radius]="80" [outerStrokeWidth]="15"
            [innerStrokeWidth]="12" [outerStrokeColor]="'#33FFA9'" [innerStrokeColor]="''" [animation]="true"
            [animationDuration]="700" [subtitle]="'Rxjs'" [titleColor]="'#33FFA9'" [unitsFontSize]="'20'"
            [unitsColor]="'#33FFA9'" [subtitleFontSize]="32" [animateSubtitle]="true" [responsive]="true">
          </circle-progress>
        </div>
      </div>
    </div>
