<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#" style="color:whitesmoke;font-weight: 700;"> <span style="color: aqua; font-size: 25px;">&lt;/</span> ABHISHEK<span style="color: aqua; font-size: 25px;"> &gt; </span></a>
        <ul class="navbar-nav" style="display: flex;flex-direction: row;" id="maxnavbar">
          <li class="nav-item active p-4 " >
            <a class="nav-link " href="#home" style="color: whitesmoke;font-size: 20px;color: aquamarine;"><span style="color: aquamarine;">/</span>Home<span style="color: aquamarine;">/</span></a>
          </li>
          <li class="nav-item p-4 text-white">
            <a class="nav-link " href="#about"  style="color: whitesmoke;font-size: 20px;"><span class="slash">/</span>About<span class="slash">/</span></a>
          </li>
          <li class="nav-item p-4 text-white">
            <a class="nav-link" href="#projects" style="color: whitesmoke;font-size: 20px;"><span class="slash">/</span>Projects<span class="slash">/</span></a>
          </li>
          <li class="nav-item p-4 ply">
            <a class="nav-link " href="mailto:abhiabhishekn164@gmail.com" style="color: whitesmoke;font-size: 20px;" ><span class="slash">/</span>Contact<span class="slash">/</span></a>
          </li>
        </ul>
</nav>