<div class="container-fluid mx-auto text-center " id='projects' >
  <h1 id="head" class="text-left" style="color: #33ffa9">Projects</h1>
  <div id="bar" style="width:8%;height: 5%; background-color: #33ffa9;color:#33ffa9;font-size: 10px;"> s</div>
<div class="scrollmenu mt-5 mb-5 bg-dark">
  <div class="card ml-2" style="height: '25%'">
    <a href="https://expoapplication-bc82b.web.app/" target="_blank" >
      <img
        src="../../assets//ReactNotes.png"
        alt="Avatar"
        style="width: 100%"
        id="card"
      />
      <div class="container">
        <h4 style="text-decoration: none;color:'#fff'" class="title"><b>Sticky Notes</b></h4>
        <p style="text-decoration: none;color:'#fff'" class="stack" >(React,Redux,Firebase)</p>
      </div>
    </a>
  </div>
  <div class="card ml-2" style="height: '25%'">
    <a href="https://abhishekn123.github.io/InstagramClone/" target="_blank" >
      <img
      src="../../assets//instagram.png"
        alt="Avatar"
        id="card"
         style="width:90%"
      />
      <div class="container">
        <h4 style="text-decoration: none;color:'#fff'" class="title"><b>Instagram Clone</b></h4>
        <p style="text-decoration: none;color:'#fff'" class="stack" >(React)</p>
      </div>
    </a>
  </div>
  <div class="card ml-2" style="width:14rem;height: '25%'">
    <a href="https://abhishekn123.github.io/Workout/" target="_blank"  >
      <img
        src="../../assets/LCO.png"
        alt="Avatar"
        id="card"
        class="card-img-top bg-dark" 
      />
      <div class="container">
        <h4 style="text-decoration: none;color:'#fff'" class="title"><b>LCO Workout</b></h4>
        <p style="text-decoration: none;color:'#fff'" class="stack" >(ReactNative)</p>
      </div>
    </a>
  </div>
  <div class="card ml-2" style="width:14rem;height: '25%'">
    <a href="https://abhishekn123.github.io/Calculator/index.html" target="_blank"  >
      <img
        src="../../assets/calculator.png"
        alt="Avatar"
        id="card"
        class="card-img-top" 
      />
      <div class="container">
        <h4 style="text-decoration: none;color:'#fff'" class="title"><b>Calculator</b></h4>
        <p style="text-decoration: none;color:'#fff'" class="stack" >(Html,css,vanila Javascript)</p>
      </div>
    </a>
  </div>
</div>
</div>