<div
  class="mx-auto"
  style="
    font-family: 'Lobster', cursive;
    font-family: 'Rowdies', cursive;
    font-family: 'Sora', sans-serif;
  "
>
  <h1>Hello<span style="color: #ff5252; padding: 0px">.</span></h1>
  <h1>I am</h1>
  <h1 id="name">Abhishek</h1>
  <p>I Believe in Consistency and Hardwork is Key to Success.</p>
  <a
    href="mailto:abhiabhishekn164@gmail.com"
  >
    <div
      class="btn pl-4 pr-4 pt-3 pb-3"
      style="
        background-color: #33ffa9;
        text-align: left;
        margin-right: auto;
        border-radius: 0px;
      "
      id="botn"
    >
      Contact me />
    </div>
  </a>
</div>
